@import "tailwindcss";

:root{
    scroll-behavior: smooth;
    --color-primary: #d90032;
    --color-button: #ffb336;
}

body {
    @apply bg-gray-100 text-gray-800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@layer components{
    .container{
        @apply flex flex-col min-h-screen;
    }

    .header-app {
        @apply bg-gray-100 p-6 flex justify-between items-center shadow-lg sticky top-0 z-50;
    }

    .main-content{
        @apply flex-1;
    }

    .footer-app{
    @apply bg-white text-left p-8 md:p-16 mt-12;
    }

    .main-content h1 {
        @apply text-4xl font-bold mb-6;
        color: var(--color-primary);
    }
    .main-content h2 {
        @apply text-2xl font-semibold mb-4;
        color: var(--color-primary);
    }
    .main-content a {
        color: var(--color-primary);
        @apply hover:opacity-80 transition-opacity;
    }

    .form-default {
        @apply flex flex-col gap-4 max-w-lg mx-auto my-8 p-6 bg-white rounded-lg shadow-md;

        & label {
            @apply font-semibold;
        }

        & input, & textarea, & select {
            @apply bg-white border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring-2;
            --tw-ring-color: var(--color-button);
        }

        & button {
            background-color: var(--color-button);
            @apply text-white font-bold py-2 px-4 rounded-lg hover:opacity-90;
        }
    }
}