@import "tailwindcss";

@theme {

    --color-primary: #d90032;
    --color-button: #ffb336;
}

/* Estilos Globais da Aplicação */
body {
  @apply bg-gray-100 text-gray-800; /* Fundo cinza claro e texto escuro */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @apply container mx-auto p-8;
  min-height: calc(100vh - 160px); 
}

h1 {
  @apply text-4xl font-bold mb-6;
  color: var(--color-primary); /* Usa a cor primária definida no @theme */
}

h2 {
  @apply text-2xl font-semibold mb-4;
  color: var(--color-primary);
}

section {
  @apply mb-12;
}

a {
  color: var(--color-primary);
  @apply hover:opacity-80 transition-opacity duration-300;
}

/* Estilos para botões e inputs no tema claro */
button, input[type="submit"] {
  background-color: var(--color-button); /* Usa a cor de botão personalizada (amarelo) */
  @apply text-white font-bold py-2 px-4 rounded-lg hover:opacity-90 transition-opacity duration-300;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  @apply bg-white border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring-2;
  color: #000;
  /* Define a cor do anel de foco para a cor do botão */
  --tw-ring-color: var(--color-button);
}